<span>Filtrer par catégorie</span>
<span class="ui-fluid">
  <p-autoComplete
    [(ngModel)]="selectedTags"
    [suggestions]="displayTags"
    (completeMethod)="onSearchTag($event)"
    (onSelect)="getRecipesByTag()"
    (onUnselect)="getRecipesByTag()"
    [multiple]="true"></p-autoComplete>
  <br />
  <div class="d-flex justify-content-between">
    <!--<h4>Recipes:</h4>-->
    <a routerLink="/recipes/add">Ajouter une recette</a>
  </div>
  <ul class="list-group">
    <li class="list-group-item d-flex" *ngFor="let recipe of recipes">
      <a class="recipe-name-link" [routerLink]="['/recipes', recipe._id]">{{recipe.name}}</a>
      <span>{{ recipe.tags.join(', ') }}</span>
    </li>
  </ul>
</span>
