.list-group-item {

  .recipe-name-link {
    font-weight: bold;
    margin-right: 24px;
  }

  span {
    font-size: small;
    color: #999;
  }

  .image-container {
    width: 220px;
    text-align: center;
    vertical-align: middle;
  }
}
