//html, body {
//  height: 100%;
//}
body {
  background-color: #B2CECB !important; //#060b19 !important;
}

.main-content {
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
  display: table;
  padding-bottom: 24px;
}

.top-bar {
  height: 90px;
  width: 100%;
  margin: 0;
  background-color: #306965; //#11287A;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  a {
    color: white;

    &:hover {
      color:white;
    }
  }
}

.top-bar__main-title {
  text-decoration: none;
  font-family: 'Sriracha', cursive;
  font-size: 36pt;
  margin: 0 10px;

  &:hover {
    text-decoration: none;
  }
}

.top-bar__languages {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.top-bar__language {
  margin-right: 10px;
  text-decoration: underline;
}

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

@media (max-width: 500px) {
  .main-content {
    width: 100%;
  }
}

@media (max-width: 520px) {
  .top-bar h1 {
    font-size: 26pt;
  }
}

@media (max-width: 370px) {
  .top-bar h1 {
    font-size: 21pt;
  }
}